<script src="https://cdn.tailwindcss.com"></script>
<script
    src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"
></script>

<script>
    (tailwind.config = {
        theme: {
            extend: {
                colors: {
                    'primary-gray': {
                        DEFAULT: '#070707',
                        50: '#636363',
                        100: '#595959',
                        200: '#444444',
                        300: '#303030',
                        400: '#1B1B1B',
                        500: '#070707',
                        600: '#000000',
                    },
                    'primary-blue': {
                        DEFAULT: '#687DF7',
                        100: '#FFFFFF',
                        200: '#DCE1FD',
                        300: '#B5C0FB',
                        400: '#8F9EF9',
                        500: '#687DF7',
                        600: '#334FF4',
                        700: '#0C2CE3',
                        800: '#0921AE',
                        900: '#061778',
                    },
                    'secondary-haze-white': {
                        DEFAULT: '#ECF0F5',
                        300: '#ECF0F5',
                        400: '#C7D3E2',
                        500: '#A2B6CE',
                        600: '#7E99BB',
                        700: '#597CA8',
                        800: '#456183',
                        900: '#32465F',
                    },
                },
            },
        },
    }),
        (window.onload = () => {
            document.getElementById('cp').innerHTML =
                `© Binop Oy 2022-${new Date().getFullYear()}`;
            const file = document.getElementById('file-input').files[0];
            if (file) {
                document.getElementById('file-input-filename').innerText = file.name;
            }
        });
</script>
<script>
    function onfilechange() {
        const file = document.getElementById('file-input').files[0];
        if (file) {
            document.getElementById('file-input-filename').innerText = file.name;
        }
    }
</script>
